<!DOCTYPE html>
<html>
<head>
    <title>Button Creator</title>
</head>
<body>
    <div id="buttonContainer">
        <!-- 여기에 버튼이 추가될 것입니다. -->
    </div>

    <script>
        // 서버에서 버튼 목록을 가져와서 페이지를 업데이트하는 함수
        async function updateButtons() {
        const response = await fetch("/button", { method: "GET" });
        const buttonsData = await response.json();

        const buttonContainer = document.getElementById("buttonContainer");
        // 기존의 버튼을 모두 삭제
        buttonContainer.innerHTML = "";

        // 버튼 데이터의 수만큼 동적으로 버튼 생성
        buttonsData.forEach(username => {
            const newButton = document.createElement("button");
            newButton.textContent = username;

            // 클릭 이벤트 핸들러 할당
            newButton.onclick = function() {
                sendPostRequest(username);
            };

            buttonContainer.appendChild(newButton);
        });
    }

        // 페이지 로드 시 서버에서 버튼 목록을 가져와서 페이지를 업데이트함
        window.onload = updateButtons;
        window.onload = function() {
            updateButtons();
            setInterval(updateButtons, 2000);
        };
        // 클릭한 버튼의 사용자 이름을 가지고 POST 요청 보내는 함수
        async function sendPostRequest(username) {
            const response = await fetch("/qr_code", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ username })
            });

            const responseData = await response.json();
            console.log(responseData); // 서버로부터 받은 응답 데이터 로깅
        }
    </script>
</body>
</html>
