<!DOCTYPE html>
<html>
<head>
    <title>Button Creator</title>
</head>
<body>
    <div id="buttonContainer">
        <!-- 여기에 버튼이 추가될 것입니다. -->
    </div>

    <script>
        // 서버에서 버튼 목록을 가져와서 페이지를 업데이트하는 함수
        async function updateButtons() {
        const response = await fetch("/button", { method: "GET" });
        const buttonsData = await response.json();

        const buttonContainer = document.getElementById("buttonContainer");
        // 기존의 버튼을 모두 삭제
        buttonContainer.innerHTML = "";

        // 버튼 데이터의 수만큼 동적으로 버튼 생성
        buttonsData.forEach(button => {
            const newButton = document.createElement("button");
            newButton.textContent = button.username;
            newButton.onclick = function() {
                newButton.addEventListener('click', () => buttonClickHandler(button.username));
                buttonContainer.appendChild(newButton);
            };
            buttonContainer.appendChild(newButton);
        });
}

        // 페이지 로드 시 서버에서 버튼 목록을 가져와서 페이지를 업데이트함
        window.onload = updateButtons;
        window.onload = function() {
            updateButtons();
            setInterval(updateButtons, 500);
        };

    </script>
</body>
</html>
